- content_for :title do
  Confirm Delete
- content_for :header do
  = "Please enter the Jabber ID password for App #{@app.name} to confirm deleting your app"
- content_for :content do
  %form{ :method => "post", :action => "/delete_app", :method => "post" }
    %fieldset
      %input{ :type => "hidden", :name => "app_id", :value => "#{@app_id}"}
      %label{ :for => "Password" } Password
      %input{ :type => "password", :name => "Password" }
      %input{ :type => "submit", :value => "Delete App"}
