- content_for :title do
  Edit Password
- content_for :header do
  Please enter your old password and your desired new password.
- content_for :content do
  %form{ :action => '', :method => 'post' }
    %fieldset
      %input{ :type => 'hidden', :name => 'app_id', :value => "#{@app.id}" }
      %label{ :for => 'old_password' } Old Password
      %input{ :type => 'password', :name => 'old_password', :value => "#{@app.name}" }
      %label{ :for => 'new_password' } New Password
      %input{ :type => 'password', :name => 'new_password', :value => "#{@app.name}" }
      %input{ :type => 'submit', :value => 'Change App Password' }  