- content_for :title do 
  Log In to Adhearsion Cloud
- content_for :header do
  Please log in with your AT&T API Matrix Account
- content_for :content do
  %form{ :action => '', :method => "post" }
    %fieldset
      #username
        %label{ :for => "Username" } Username:
        %input{ :type => "text", :name => "Username" }
      %br
      #password
        %label{ :for => "Password" } Password:
        %input{ :type => "password", :name => "Password" }
      %br
      #submit
        %input{ :type => "submit", :value => "Log In" }