- content_for :title do 
  Log In to Adhearsion Cloud
- content_for :header do
  Please log in with your AT&T API Matrix Account
- content_for :content do
  %form{ :action => '', :method => "post", :style => "text-align: center;" }
    %fieldset 
      #submit
        %input{ :type => "submit", :value => "Log In" }